.visited{
    background-color: rgb(148, 153, 243);
    color: #fff;
}
.boxSize {
    width:90%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px gray;

}
.flagsize{
    width: 100%;
    height: 180px;
}
.margin{
    margin-right: 10px;
}